{% extends "sitebase.html" %}

{% block title %}
{{ NEW_TITLE }}
{% endblock %}

{% block menu_3 %}
class="active"
{% endblock %}

{% block header_title %}
{{ NEW_TITLE }}
{% endblock %}


{% block content_inside %}
<div class="row">
	<div class="span16">
      <table class="bordered-table zebra-striped">
        <thead>
          <tr>
            <th>Building Name</th>
            <th>Square Footage</th>
            <th>Year Built</th>
   			<th>Portal Page</th>
          </tr>
        </thead>
        <tbody>
{% if results %}
{% for building in results|dictsort:"longname" %}

          <tr>
            <td>{{ building.longname }}</td>
            <td>{{ building.stats_sqft }}</td>
            <td>{{ building.stats_yearBuilt }}</td>
            <td><a href="/buildings/{{ building.shortname }}">Click here</a></td>
          </tr>

{% endfor %}
{% endif %}
        </tbody>
      </table>



	</div>
</div>
{% endblock %}
