{% extends "sitebase.html" %}

{% block title %}
Building List
{% endblock %}

{% block extra_scriptsCSS_imports %}
			<script src="/site-media/jquery-tablesorter/jquery.tablesorter.min.js"></script>
{% endblock %}
{% block extra_scripts_inline %}
$(function() {
$("table#sortedbuildings").tablesorter({ sortList: [[0,0]] });
});
{% endblock %}
{% block menu_2 %}
class="active"
{% endblock %}

{% block header_title %}
Building List
{% endblock %}

{% block header_subtitle %}
Click a Building Name for more detailed information.
{% endblock %}

{% block content_inside %}
<div class="row">
	<div class="span16">
      <table class="bordered-table zebra-striped" id="sortedbuildings">
        <thead>
          <tr>
            <th>Building Name</th>
            <th>Square Footage</th>
            <th>Year Built</th>
			<th>kWh/SqFt</th>
			<th>Peak/Average</th>
          </tr>
        </thead>
        <tbody>

{% for building in buildings|dictsort:"longname" %}

          <tr>
            <td><a href="/buildings/{{ building.shortname }}">{{ building.longname }}</a></td>
            <td>{{ building.stats_sqft }}</td>
            <td>{{ building.stats_yearBuilt }}</td>
			<td>Not Yet Avail.</td>
			<td>Not Yet Avail.</td>
          </tr>

{% endfor %}
        </tbody>
      </table>
	</div>
</div>
{% endblock %}
