{% extends "sitebase.html" %}

{% block title %}
Building List
{% endblock %}

{% block menu_2 %}
class="active"
{% endblock %}

{% block header_title %}
Building List
{% endblock %}

{% block header_subtitle %}
Click a building for detailed info.
{% endblock %}

{% block content_inside %}
<div class="row">
	<div class="span16">
      <table class="bordered-table zebra-striped">
        <thead>
          <tr>
            <th>Building Name</th>
            <th>Square Footage</th>
            <th>Year Built</th>
   			<th>Portal Page</th>
          </tr>
        </thead>
        <tbody>

{% for building in buildings|dictsort:"longname" %}

          <tr>
            <td>{{ building.longname }}</td>
            <td>{{ building.stats_sqft }}</td>
            <td>{{ building.stats_yearBuilt }}</td>
            <td><a href="/buildings/{{ building.shortname }}">Click here</a></td>
          </tr>

{% endfor %}
        </tbody>
      </table>
	</div>
</div>
{% endblock %}
