{% extends "sitebase.html" %}

{% block title %}
Compare Buildings
{% endblock %}

{% block menu_4 %}
class="active"
{% endblock %}

{% block header_title %}
Compare Buildings
{% endblock %}

{% block extra_css_inline %}

			.comparisongraph {
				margin-bottom: 5px;
        		-webkit-border-radius: 10px 10px 10px 10px;
           			-moz-border-radius: 10px 10px 10px 10px;
                		border-radius: 10px 10px 10px 10px;
        		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                		box-shadow: 0 1px 2px rgba(0,0,0,.15);
				padding-top: 5px;
				padding-left: 5px;
      		}

{% endblock %}

{% block header_subtitle %}
Bar height and width represent square footage and kWh per sqft respectively.
{% endblock %}

{% block content_inside %}
<div class="row">
	<div class="span16">
<input id="hscalingfactor" type="text" placeholder="Horizontal (kWh/SqFt) Scaling Factor (Default 50)" />
<input id="vscalingfactor" type="text" placeholder="Vertical (SqFt) Scaling Factor (Default 1000)" />
<p><br></p>
<div id="bargraph"></div>
	</div>
</div>


{% endblock %}

{% block random_extras %}
<script type="text/javascript">

var get_these_queries = [];
var hscaleFactor = 50;
var vscaleFactor = 1000;

$(document).ready(function() {
	runReqOne();

});

$("#hscalingfactor").change(function() {
	hscaleFactor = $("#hscalingfactor").val();
	//console.log(scaleFactor);
	drawBars(collectedData, 0);
});

$("#vscalingfactor").change(function() {
	vscaleFactor = $("#vscalingfactor").val();
	//console.log(scaleFactor);
	drawBars(collectedData, 0);
});


var djangoGenDsqfts = {
{% for building in buildings|dictsort:"longname" %} "{{ building.kWhqueryid }}": {'SQFT': {{ building.stats_sqft }}, 'UUID': "", 'Reading': 0, 'FullName': "{{ building.longname }}", 'url': "/buildings/{{ building.shortname }}" }, 
{% endfor %}
};

var combinedUUIDqueryString = "";
var counterTens = 0;
var setsOfTen = [];
var collectedData = [];

function ajaxReqOne(callback) {
	$.ajax({
		async: true,
		type: 'POST',
		url: '/ARDgetData/api/query?',
		data: "select * where Metadata/Extra/Operator = 'daily meter usage'",
		success: function(response) {
			callback(response);
		}
	});
}

function runReqOne() {
	
	ajaxReqOne(function(respo){
		for (ind = 0; ind < respo.length; ind++) {
				djangoGenDsqfts[respo[ind]["Metadata"]["Location"]["Building"]]['UUID'] = respo[ind]["uuid"];
			}
		for (building in djangoGenDsqfts){
				if (djangoGenDsqfts[building]['UUID']==""){
					delete djangoGenDsqfts[building]; //removes buildings that don't have kWh data
				}
				else {
					if (counterTens<10){  //this stuff handles ARDs limit of 10 UUIDs per query?
						combinedUUIDqueryString += " uuid = '" + djangoGenDsqfts[building]['UUID'] + "' or ";
						counterTens++;
					}
					else {
						setsOfTen.push(combinedUUIDqueryString.slice(0, combinedUUIDqueryString.length-4));
						combinedUUIDqueryString = "";
						counterTens = 0;
						combinedUUIDqueryString += " uuid = '" + djangoGenDsqfts[building]['UUID'] + "' or ";
						counterTens++;
						}
				}
		}
		if (counterTens != 10){
			setsOfTen.push(combinedUUIDqueryString.slice(0, combinedUUIDqueryString.length-4));
		}
			
		runReqTwo(setsOfTen);
	});
}

function ajaxReqTwo(callback, querystring, x, endat) {
	$.ajax({ 
		async: true,
		type: 'POST',
		url: '/ARDgetData/api/query?',
		data: "select data before now limit 1 where " + querystring,
		success: function(response) {
			callback(response, x, endat);
		}
	});
}

function runReqTwo(querystring) {
	for (x = 0; x < querystring.length; x++){
	ajaxReqTwo(function(resp, x, endat){
		for (z = 0; z< resp.length; z++){
			collectedData[resp[z]['uuid']] = resp[z]['Readings'][0][1];
			}

			if (x == (endat-1)){
				mapToDjangoData(collectedData);
			}
		}, querystring[x], x, querystring.length);
	}
}

function mapToDjangoData(kWhData) {
	for (building in djangoGenDsqfts){
		djangoGenDsqfts[building]['Reading'] = kWhData[djangoGenDsqfts[building]['UUID']];
	}
		console.log(djangoGenDsqfts);
	drawBars(kWhData, 1);
	//console.log(sortTesting(djangoGenDsqfts));
}

function drawBars(kWhData, firstLoad) {
	var innerHTMLstring = "";
	if (firstLoad==1){
		hscaleFactor = 50;
	}
	for (building in djangoGenDsqfts){
		innerHTMLstring += "<div class='comparisondiv' style='margin-bottom: 5px;-webkit-border-radius: 10px 10px 10px 10px;-moz-border-radius: 10px 10px 10px 10px;border-radius: 10px 10px 10px 10px;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);box-shadow: 0 1px 2px rgba(0,0,0,.15);padding-top: 5px;padding-left: 5px;background-color:#000000;height:" + djangoGenDsqfts[building]['SQFT']/vscaleFactor + "px;width:" + djangoGenDsqfts[building]['Reading']/djangoGenDsqfts[building]['SQFT']/hscaleFactor + "px;white-space:nowrap;overflow:show;'><h3><a href='" + djangoGenDsqfts[building]['url'] + "'>" +  djangoGenDsqfts[building]['FullName'] + "</a> " + djangoGenDsqfts[building]['SQFT'] + " Square Feet, " + djangoGenDsqfts[building]['Reading'] + " kWh Usage, </h3></div>"
	}
	$("#bargraph").html(innerHTMLstring);
}

function sortTesting(arr){
	//adapted from http://www.latentmotion.com/how-to-sort-an-associative-array-object-in-javascript/
	// Setup Arrays
	var sortedKeys = new Array();
	var sortedObj = {};

	// Separate keys and sort them
	for (var i in arr){
		sortedKeys.push(i);
	}
	sortedKeys.sort();

	// Reconstruct sorted obj based on keys
	for (var i in sortedKeys){
		sortedObj[sortedKeys[i]] = arr[sortedKeys[i]];
	}
	return sortedObj;
}



</script>
{% endblock %}
