{% extends "sitebase.html" %}

{% block title %}
Compare Buildings
{% endblock %}

{% block menu_4 %}
class="active"
{% endblock %}

{% block header_title %}
Compare Buildings
{% endblock %}

{% block extra_css_inline %}

			.comparisongraph {
				margin-bottom: 5px;
        		-webkit-border-radius: 10px 10px 10px 10px;
           			-moz-border-radius: 10px 10px 10px 10px;
                		border-radius: 10px 10px 10px 10px;
        		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           			-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                		box-shadow: 0 1px 2px rgba(0,0,0,.15);
				padding-top: 5px;
				padding-left: 5px;
      		}

{% endblock %}

{% block header_subtitle %}
Bar height and width represent square footage and energy usage respectively.
{% endblock %}

{% block content_inside %}
<div class="row">
	<div class="span16">

{% for building in buildings %}

		<div class="comparisongraph" style="width:400px;height:{{ building.stats_sqft_fordisp }}px;background:{% if building.tempid %}#2c2c2c{% endif %}{% if not building.tempid %}#c7c8c9{% endif %};"><h2 ><a href="/buildings/{{ building.shortname }}" style="color:{% if building.tempid %}#FFFFFF{% endif %}{% if not building.tempid %}#000000{% endif %};">{{ building.longname }}</a><em><small style="color:{% if building.tempid %}#FFFFFF{% endif %}{% if not building.tempid %}#000000{% endif %};"> {{ building.stats_sqft }} sqft.</small></em></h2></div> 
{% endfor %}




	</div>
</div>


{% endblock %}

{% block random_extras %}
<script type="text/javascript">
//general idea:
var get_these_queries = [];


$(document).ready(function() {
	runReqOne();

});

var djangoGenDsqfts = {
{% for building in buildings|dictsort:"longname" %} "{{ building.kWhqueryid }}": {'SQFT': {{ building.stats_sqft }}, 'UUID': "" }, 
{% endfor %}
};

function ajaxReqOne(callback) {
	$.ajax({
		async: true,
		type: 'POST',
		url: '/ARDgetData/api/query?',
		data: "select * where Metadata/Extra/Operator = 'daily meter usage'",
		success: function(response) {
			callback(response);
		}
	});
}

function runReqOne() {
	
	ajaxReqOne(function(respo){
		for (ind = 0; ind < respo.length; ind++) {
				djangoGenDsqfts[respo[ind]["Metadata"]["Location"]["Building"]]['UUID'] = respo[ind]["uuid"];
			}
		for (building in djangoGenDsqfts){
				if (djangoGenDsqfts[building]['UUID']==""){
					delete djangoGenDsqfts[building]; //removes buildings that don't have kWh data
				}
		}
		console.log(djangoGenDsqfts);
		//runReqTwo(output);
	});
}

function ajaxReqTwo(callback, latest, inputUUID, starttime, endtime, output, typeInput) {
	$.ajax({ 
			async: true,
			type: 'GET',
			url: "/ARDgetData/api/data/uuid/" + escape(inputUUID) + "?starttime=" + escape(starttime) + "&endtime=" + escape(endtime),
			success: function(resp) {
				callback(resp, typeInput);
			}
	});
}

function runReqTwo(output) {
	latest = [];
	typeOrder = [];
	var converter = new AnyTime.Converter( { format: datefmt });
	var endtime = converter.parse($("#date").val()).getTime();
	var starttime = converter.parse($("#date2").val()).getTime();

	for(x=0; x<output.length; x++){
	ajaxReqTwo(function(resp, typeInput){
		typeOrder.push(typeInput);
		latest.push(eval(resp));
		if (output.length==latest.length){
			latest = drawGraph(latest, typeOrder);
			setAllTheGauges(latest[0][0]['Readings'][latest[0][0]['Readings'].length-1], latest[1][0]['Readings'][latest[1][0]['Readings'].length-1]);
		}
	}, latest, output[x][0], starttime, endtime, output, output[x][1]);
	}
}


// now django generated code (push statements) to add queryIDs to get_these_queries
</script>
{% endblock %}
