{% extends "sitebase.html" %}
{% block title %}{{ BUILDING_NAME }} Energy Portal{% endblock %}

{% block extra_scriptsCSS_imports %}
<link href="/site-media/anytime/anytimec.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/site-media/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/site-media/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="/site-media/flot/jquery.flot.navigate.min.js"></script>
<script type="text/javascript" src="/site-media/flot/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="/site-media/flot/jquery.flot.axislabels.js"></script>
<script type="text/javascript" src="/site-media/anytime/anytimec.js"></script>
<script type="text/javascript" src="/site-media/bootstrap/bootstrap-modal.js"></script>
<link rel="stylesheet" href="/site-media/jgauge/css/jgauge.css" type="text/css" /> <!-- CSS for jGauge styling. -->
<!--[if IE]><script type="text/javascript" language="javascript" src="js/excanvas.min.js"></script><![endif]--> <!-- Extends canvas support to IE. (Possibly buggy, need to look into this.) -->
<script type="text/javascript" src="/site-media/jgauge/js/jQueryRotate.min.js"></script> <!-- jQueryRotate plugin used for needle movement. -->
<script type="text/javascript" src="/site-media/jgauge/js/jgauge-0.3.0.a3.js"></script> <!-- jGauge JavaScript. -->
<script type="text/javascript" src="/site-media/psMathStats/psMathStats.min.js"></script>
<script type="text/javascript" src="/site-media/jquery-sparkline/jquery.sparkline.js"></script>


<!-- customs -->
<script type="text/javascript" src="/site-media/campenportJS/buildingpage/gaugeSetup.js"></script>
<script type="text/javascript" src="/site-media/campenportJS/smap/query.js"></script>
{% endblock %}

{% block extra_css_inline %}
	.hero-unit {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
		padding-left: 20px;


	}

	footer {
		 margin-top: 0px; 
	}
{% endblock %}

{% block header_title %}
{{ BUILDING_NAME }} Energy Portal
{% endblock %}
{% block header_subtitle %}
Drag on the graph to zoom in.
{% endblock %}

{% block content_inside %}
<div class="hero-unit" style="margin-top:-10px;text-align:center;" ><div style="margin:0px auto; width:60%">
    <ul class="pills">
    <li class="active"><a href="#">Jump Down:</a></li>
    <li><a href="#" onclick="scrollDownTo('graphMain')">Graph &#9660;</a></li>
    <li><a href="#" onclick="scrollDownTo('enviro')">Environment &#9660;</a></li>
    <li><a href="#" onclick="scrollDownTo('relatives')">Relative &#9660;</a></li>
    <li><a href="#" onclick="scrollDownTo('props')">Properties &#9660;</a></li>
    </ul></div>
</div>
<div class="hero-unit" style="min-height:610px;margin-top:-80px;" id="graphMain">
<h2>Live Power Consumption Graph (Default 1 Day): </h2> Start Time: <input class="span4" type = "text" id="date2" size=36>&nbsp; &nbsp;  End Time: <input class="span4" type="text" id="date" size=36> &nbsp; &nbsp; <input type = "button" class="btn primary" value = "Load/Refresh Data" id="refresh"> &nbsp; &nbsp;<input type="checkbox" id="autoup" name="autoup" value="10" checked /> Autoupdate (15 min)
<br><br>
<div id="graph" >
<!-- contains graph generated by flot -->
<div id="placeholder" style = "position:absolute;width:900px;height:520px;">
    
</div><div id="loading" style="position:absolute;width:300px;top:450px;left:50%;margin-left:-150px;text-align:center;padding:7px 0 0 0;font:bold 11px Arial, Helvetica, sans-serif;">  
    Loading data, please wait..  
    <img src="/site-media/images/ajax-loader.gif" alt="loading.." />  
    </div> 
</div>
</div>
<div class="hero-unit" style="margin-top:-15px;min-height:40px;" id="enviro"><div style="float:left;"><h2>Environment:   </h2></div><div style="float:right;"><ul class="pills">
    <li class="active"><a href="#" onclick="scrollToTop()">Jump Up &#9650;</a></li></ul></div>
</div>
<div class="row" style="margin-top:-50px;">
	<div class="span-one-third">
		<div class="hero-unit" style="text-align:center;">

<p>Outside <strong>Air Temperature</strong>: <br> <span class="tempBox"></span>&nbsp; &nbsp; / &nbsp; &nbsp; 
Past 24 Hours: <br><span class="dynamicsparkline" style="background-color:rgba(0, 0, 0, 0.1);">Loading..</span></p>
		</div>
	</div>

<div class="span-one-third">
		<div class="hero-unit" style="text-align:center;">

<p>Outside <strong>Humidity</strong>: <br> <span class="humBox"></span>&nbsp; &nbsp; / &nbsp; &nbsp; 
Past 24 Hours: <br><span class="dynamicsparklineHum" style="background-color:rgba(0, 0, 0, 0.1);">Loading..</span></p>
		</div>
	</div>
<div class="span-one-third">
		<div class="hero-unit" style="text-align:center;margin-top:-17px;">

<p>Outside <strong>Air Pressure</strong>: <br><span class="pressBox"></span>&nbsp; / &nbsp; 
Past 24 Hours: <br><span class="dynamicsparklinePress" style="background-color:rgba(0, 0, 0, 0.1);">Loading..</span></p>
		</div>
	</div>

</div>


<div class="hero-unit" style="margin-top: -15px;min-height:40px;" id="relatives"><div style="float:left;"><h2>Relative Statistics:</h2></div><div style="float:right;"><ul class="pills">
    <li class="active"><a href="#" onclick="scrollToTop()">Jump Up &#9650;</a></li></ul></div></div>
<div class="row" style="margin-top: -50px;">

<div class="span-one-third">
	<div class="hero-unit" style="min-height:200px;text-align:center;"> <h3><a href="#" rel="popover" title="How is this calculated?" data-placement="above" data-content="Deviation from Baseline is calculated by taking the actual kW usage, subtracting the baseline, and finally dividing this result by the baseline. It is effectively a calculation of error; thus a negative percentage means that the building is using less power than usual, while a positive percentage implies exactly the opposite." style="color:#000000;">Deviation from Baseline</a></h3><div style="width:180px;margin:0 auto;"><div id="kWvsBaseline" class="jgauge" style="width:180px;margin:0 auto;"></div></div></div>
</div>

<div class="span-one-third">
	<div class="hero-unit" style="min-height:200px;text-align:center;"> <h3><a href="#" rel="popover" title="How is this calculated?" data-placement="above" data-content="% of Total Campus (kW) is calculated by taking a building's current power usage and dividing it by the sum of the power usage of all campus buildings for which data is available. It is designed to be compared to the gauge to the right, % of Total Campus (SqFt)." style="color:#000000;">% of Total Campus (kW)</a></h3><div style="width:180px;margin:0 auto;"><div id="gaugeTwo" class="jgauge" style="width:180px;margin:0 auto;"></div></div></div>
</div>
<div class="span-one-third">
	<div class="hero-unit" style="min-height:200px;text-align:center;margin-top:-17px;"> <h3><a href="#" rel="popover" title="How is this calculated?" data-placement="above" data-content="% of Total Campus (SqFt) is calculated by taking a building's square footage and dividing it by the sum of the square footage of all campus buildings for which data is available. It is designed to be compared to the gauge to the left, % of Total Campus (kW)." style="color:#000000;">% of Total Campus (SqFt)</a></h3><div style="width:180px;margin:0 auto;"><div id="gaugeThree" class="jgauge" style="width:180px;margin:0 auto;"></div></div></div>
</div>


</div> <!-- endrow -->



<div class="row" id="props">
<div class="span8" style="text-align:center;">
<ul class="media-grid">

        <li>
          <a href="{{ PIC_SRC }}"  data-controls-modal="modal-from-dom2" data-backdrop="true" data-keyboard="true">
            <img class="thumbnail" src="{{ PIC }}" alt="">
          </a>
        </li>
              </ul>
</div>
<div class="span8">
<h2>About {{ BUILDING_NAME }}:</h2> <p>{{ INFO }} </p><br> <br>
<div style="text-align:right;"><button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn large primary">More Info >></button></div>


</div>
</div>

<div class="row">
<div class="span8">
<h2>Building Stats:</h2> 
<h4>
<ul>
<li>Square Footage: {{ STATS_SQFT }} </li>
<li>Year Built: {{ STATS_YEAR }} </li>
<li>Available Data Sources: <span id="UUIDcount"></span> </li>
</ul>
</h4>
</div>
<div class="span8">
	<h2>Location:</h2>
	<div class="mapboxdisp" style="padding-top:10px;overflow:hidden;height:{{ desired_height }}px;width:{{ desired_width }}px;"><div style="margin-left:-{{ x_min }}px;margin-top:-{{ y_min }}px;">

<img src="/site-media/campusmap.png" width="1232" height="1067" style="border:0;" alt="campusmap" usemap="#map" id="image" />
						<map id="map" name="map">
						<!-- coordinates stored in the db were obtained using the following: -->
							<!-- #$-:Image map file created by GIMP Image Map plug-in -->
							<!-- #$-:GIMP Image Map plug-in by Maurits Rijk -->
							<!-- #$-:Please do not edit lines starting with "#$" -->
							<!-- #$VERSION:2.3 -->
							<!-- #$AUTHOR:sagark  -->
						<!-- end cooordinates were obtained -->

						<!-- generates imagemap from coordinates stored in database -->
						
						{% for building in buildings|dictsort:"longname" %}
							<area shape="poly" coords="{{ building.map_coords }}" href="/buildings/{{ building.shortname }}/" alt="{{ building.shortname }}"   />
						{% endfor %}

						</map>


</div>


</div>
</div>
</div>
<div class="hero-unit" style="height:40px;padding:0px;margin-top:15px;margin-bottom:0px;text-align:center;" ><div style="margin:0px auto; width:67%">
    <ul class="pills">
    <li class="active"><a href="#">Jump Up:</a></li>
    <li><a href="#" onclick="scrollDownTo('graphMain')">Graph &#9650;</a></li>
    <li><a href="#" onclick="scrollDownTo('enviro')">Environment &#9650;</a></li>
    <li><a href="#" onclick="scrollDownTo('relatives')">Relative &#9650;</a></li>
    <li><a href="#" onclick="scrollDownTo('props')">Properties &#9650;</a></li>
	<li><a href="#" onclick="scrollToTop()">Top &#9650;</a></li>
    </ul></div>
</div>

<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
    	<a href="#" class="close">&times;</a>
        	<h3>You are being directed to an external link.</h3>
    </div>
    <div class="modal-body">
		<p>Although we hope the link to be useful, sites change. Thus, we cannot necessarily endorse the link to which you are being directed: {{ STATS_ALTINFO }}</p>
    </div>
    <div class="modal-footer">
    	<a href="{{ STATS_ALTINFO }}" target="_blank" onClick="$('#modal-from-dom').modal('hide')" class="btn primary">Continue to External Site</a>
        <a onClick="$('#modal-from-dom').modal('hide')" class="btn secondary">Go Back</a>
	</div>
</div>

<div id="modal-from-dom2" class="modal hide fade">
	<div class="modal-header">
    	<a href="#" class="close">&times;</a>
        	<h3>You are being directed to an external link.</h3>
    </div>
    <div class="modal-body">
		<p>Here's a link to the building picture source. Although we obtained the image from this link, sites change. Thus, we cannot necessarily endorse the link to which you are being directed: {{ PIC_SRC }}</p>
    </div>
    <div class="modal-footer">
    	<a href="{{ PIC_SRC }}" target="_blank" onClick="$('#modal-from-dom').modal('hide')" class="btn primary">Continue to External Site</a>
        <a onClick="$('#modal-from-dom2').modal('hide')" class="btn secondary">Go Back</a>
	</div>
</div>


{% endblock %}
{% block extend_contact_url %}{{ A_SHORT_NAME }}{% endblock %}
{% block random_extras %}
<script type="text/javascript">
//time setup
var datefmt = "%W %M %e, %Y %H:%i";
var converter = new AnyTime.Converter( { format: datefmt });
var nowDate = new Date();
$("#date").val(converter.format(nowDate));
var startDate = new Date();
startDate.setTime(nowDate - 86400000);
$("#date2").val(converter.format(startDate));
AnyTime.picker( "date", { format: datefmt, firstDOW: 0 } );
AnyTime.picker( "date2", { format: datefmt, firstDOW: 0 } );
//end time setup

function scrollDownTo(itemID){
     	$('html,body').animate({scrollTop: $("#"+itemID).offset().top-40},'slow');
}
function scrollToTop(){
     	$('html,body').animate({scrollTop: 0},'slow');
}


$(function () {
              $("a[rel=popover]")
                .popover({
                  offset: 10
                })
                .click(function(e) {
                  e.preventDefault()
                })
            })

$(document).ready(function() {
	runHttpGetTags();
	environmentData();
	kWvsBaselineG.init();
	gaugeTwo.init();
	gaugeThree.init();
	kWvsBaselineG.setValue(000);
	gaugeTwo.setValue(000);
	gaugeThree.setValue(000);
	setInterval("autoUpdateGauges()", 900000);
});

$("#refresh").click(function() {
	$("#placeholder").empty();
	$("#loading").show();
	runHttpGetTags();
	environmentData();
});

function environmentData(){
	var converter = new AnyTime.Converter( { format: datefmt });
	var endtime = converter.parse($("#date").val()).getTime();
	var starttime = converter.parse($("#date2").val()).getTime();
	httpGetData(function(resp){
	//callback
		var passtoSpark = resp[0]['Readings'];
		var passfinal = [];
		for (x=0; x<passtoSpark.length; x++){
			passfinal.push(Math.round(((passtoSpark[x][1]*9/5+32)*1000))/1000);
		}
		$('.dynamicsparkline').sparkline(passfinal);
		$('.tempBox').html("<strong>" + passfinal[passfinal.length-1] + "&ordm;F" + "</strong>");
		//console.log(passfinal);
		}, 0, "d0ba5233-7c44-52a9-9bf9-5c55e5084fcf", starttime, endtime, 0, 0);


httpGetData(function(resp){
	//callback
		var passtoSparkHum = resp[0]['Readings'];
		var passfinalHum = [];
		for (x=0; x<passtoSparkHum.length; x++){
			passfinalHum.push(passtoSparkHum[x][1]);
		}
		$('.dynamicsparklineHum').sparkline(passfinalHum);
		$('.humBox').html("<strong>" + passfinalHum[passfinalHum.length-1] + "% (rh)</strong>");
		//console.log(passfinal);
		}, 0, "416b7328-bf5f-56e6-adf4-f3eeaba4cf8a", starttime, endtime, 0, 0);


httpGetData(function(resp){
	//callback
		var passtoSparkPress = resp[0]['Readings'];
		var passfinalPress = [];
		for (x=0; x<passtoSparkPress.length; x++){
			passfinalPress.push(passtoSparkPress[x][1]);
		}
		$('.dynamicsparklinePress').sparkline(passfinalPress);
		$('.pressBox').html("<strong>" + passfinalPress[passfinalPress.length-1] + " mbar</strong>");
		//console.log(passfinal);
		}, 0, "899f414d-6e01-5840-84e9-351fe41bb175", starttime, endtime, 0, 0);

}


function autoUpdateGauges(){
	if ($('input[name=autoup]').is(':checked')){
	var nowDate = new Date();
	$("#date").val(converter.format(nowDate));
	runHttpGetTags();
	environmentData();
	}
}

function runHttpGetTags() {
	
	httpGetTags(function(respo){
		output = [];
		assocOutput = {};
		sendUUIDcount = document.getElementById('UUIDcount');
		sendUUIDcount.innerHTML = respo.length;
		if (respo.length==0){
			appliedGetter();  //buildings getting data the new way launch into appliedGetter()
		}
		else{ //buildings that get data the old way ------->keep going here
			for (ind = 0; ind < respo.length; ind++) {
					output.push([respo[ind]["uuid"],respo[ind]["Metadata"]["Extra"]["Operator"]]);
					assocOutput[respo[ind]["Metadata"]["Extra"]["Operator"]] = respo[ind]["uuid"]; //for autoupdater use, at somepoint, rewrite the rest to make this replace output
				}
			runHttpGetData(output);
		}
	}, "select * where Metadata/Location/Building = '{{ QUERY_ID }}' and (Metadata/Extra/Operator like 'baseline-%' or (Metadata/Extra/Operator = 'subsampled sum')) and not (Metadata/Path like '1-hr') and not (Metadata/Extra/Resample like 'subsample-mean-3600') and not (Metadata/Extra/Type like 'steam baseline')");
}

function appliedGetter(){
	var converter = new AnyTime.Converter( { format: datefmt });
	var endtime = converter.parse($("#date").val()).getTime();
	var starttime = converter.parse($("#date2").val()).getTime();

	//console.log("appliedGetter ran!");
	httpGetTags(function(resp){
		//console.log(resp);
		drawGraph([resp, [{"uuid": "LOL", "Readings": []}]], ["subsampled sum", "baseline-01"], 0);



	}, "apply sum($1, 900, .1, .1) to  data in (" + starttime + ", " + endtime + ") streamlimit 10000 where Metadata/Extra/System = 'electric'  and ((Properties/UnitofMeasure = 'kW' or Properties/UnitofMeasure = 'Watts') or Properties/UnitofMeasure = 'W') and Metadata/Location/Building like '{{ QUERY_ID }}%' and not Metadata/Extra/Operator like 'sum%' and not Path like '%demand'");
}




function runHttpGetData(output) {
	latest = [];
	typeOrder = [];
	needToavg = [];
	var converter = new AnyTime.Converter( { format: datefmt });
	var endtime = converter.parse($("#date").val()).getTime();
	var starttime = converter.parse($("#date2").val()).getTime();

	for(x=0; x<output.length; x++){
	httpGetData(function(resp, typeInput){
		typeOrder.push(typeInput);
		latest.push(eval(resp));
		if (output.length==latest.length){
			if (endtime-starttime<=1209600000){
			for (x in latest[0][0]['Readings']){
				needToavg.push(latest[0][0]['Readings'][x][1]);
			}
			var psArray = new ps.array(needToavg);
			var avg = psArray.mean();
			var avgArr = [[starttime, avg], [endtime, avg]];
			}
			else {var avgArr = 0; }
			console.log(typeOrder);
			console.log(latest);
			latest = drawGraph(latest, typeOrder, avgArr);
			setAllTheGauges(latest[0][0]['Readings'][latest[0][0]['Readings'].length-1], latest[1][0]['Readings'][latest[1][0]['Readings'].length-1]);
		}
	}, latest, output[x][0], starttime, endtime, output, output[x][1]);
	}
}

function setAllTheGauges(lastActualkW, lastActualBaseline) {
	percent = Math.round((lastActualkW[1]-lastActualBaseline[1])/lastActualBaseline[1]*100);
	kWvsBaselineG.setValue(percent);
	callgetLatestWholeCampus(lastActualkW);
	gaugeThree.setValue({{ sqftPercent }});	
}

function callgetLatestWholeCampus(lastActualkW){
	getLatestWholeCampus(setMiddleGauge, lastActualkW);
}

function getLatestWholeCampus(callback, lastActualkW) {
	$.ajax({
		async: true,
		type: 'POST',
		url: '/ARDgetData/api/query?',
		data: "select data before now limit 1 where uuid =\'" + escape("aa0463c1-478e-5a2d-8b0f-2f26c5c5f262") + "'",
		success: function(response) {
			callback(response, lastActualkW);
		}
	});
}

function setMiddleGauge(response, lastActualkW){
	wholecamp = response[0]['Readings'][0][1];
	thisbuildkW = lastActualkW[1];
	gaugeTwo.setValue(thisbuildkW/wholecamp*100);
}

function drawGraph(inputData, typeData, flatlineAvg){
	//console.log(flatlineAvg);
	//console.log(inputData);
	if (typeData[0] == "subsampled sum"){
	}
	else {
		inputData = [inputData[1], inputData[0]]; //fixes ordering for passing on 
		typeData = [typeData[1], typeData[0]];
	}
	for (val in typeData){
		if (typeData[val]=="baseline-01"){
			typeData[val] = "Predicted Usage";
		}
		else if (typeData[val] =="subsampled sum"){
			typeData[val] = "Actual Usage";
		}
	}
	//Now fix timezone offset for flot

	needTzOffset = new Date();
	tzOffset = needTzOffset.getTimezoneOffset()*60000
	for (x=0; x<inputData.length; x++){
		for (y=0; y<inputData[x][0]['Readings'].length; y++){
			inputData[x][0]['Readings'][y][0] = inputData[x][0]['Readings'][y][0]-tzOffset;
		}
	}
	if (flatlineAvg != 0){
	flatlineAvg[0][0] -= tzOffset;
	flatlineAvg[1][0] -= tzOffset;
	}
	//end fix timezone offset for flot
	var data = [];
	for (ind3 = 0; ind3 < inputData.length; ind3++) {
		data.push({label:typeData[ind3], "data":inputData[ind3][0]['Readings']});
	}
	if (flatlineAvg != 0 && flatlineAvg[0][1]!=0){
	data.push({label:"Constant Average", "data":flatlineAvg});
	}
	var options = {
			colors: ["blue", "black"],
        	legend: { noColumns: 2 },
        	xaxis: { tickDecimals: 0, mode:"time" },
        	selection: { mode: "x" },
			grid: {hoverable: true, clickable: true},
			xaxes: [{
				axisLabel: 'Time',
			}],
			yaxes: [{
				position: 'left',
				axisLabel: 'Power Consumption (kW)',
			}],
    	};

	var placeholder = $("#placeholder");

	placeholder.bind("plotselected", function (event, ranges) {
		$("#selection").text(ranges.xaxis.from.toFixed(1) + " to " + ranges.xaxis.to.toFixed(1));
		plot = $.plot(placeholder, data, $.extend(true, {}, options, { xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to } }));
	});

	placeholder.bind("plotunselected", function (event) {
		$("#selection").text("");
	});


var previousPoint = null;
    $("#placeholder").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if (true) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    
                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);
                    
					var tempdate = new Date(x/1+tzOffset);
                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " on " + converter.format(tempdate)  + " was " + y + " kW");
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;            
            }
        }
    });

    $("#placeholder").bind("plotclick", function (event, pos, item) {
        if (item) {
            $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
            plot.highlight(item.series, item.datapoint);
        }
    });

	$("#loading").hide()
	var plot = $.plot(placeholder, data, options);
	return inputData;
}

function showTooltip(x, y, contents) {
		if (x<800){
			x = x;
		}
		else if (x<1100){
			x = x-300;
		}
		else{
			x = x-560;
		}
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '5px',
            'background-color': '#000',
			'color': '#FFF',
            opacity: 0.70,
			'font-size': '140%',
        }).appendTo("body").fadeIn(200);
}




</script>
{% endblock %}
